.titulo {
  text-align: center;
  background-color: #13293d;
  padding: 9em;
  border-radius: 2em;
  color: #e8f1f2;
  margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  font-size: 0.8em;
}

.titulo h1 {
  color: #e8f1f2;
}

.botao {
  color: white;
  background-color: #006494;
  border-radius: 1em;
  padding: 0.4em;
}

.botao:hover {
  background-color: #247ba0;
}
