

.forms {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    padding: 20px;
    border-radius: 30px;
    background-color: #e5e5e5;
}

.footer {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.instagram {
    display: block;
    width: 120px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

h2 {
    margin-top: 5px;
    text-align: center;
}

.insta {
    display: block;
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 200px;
    justify-content: center;
    border-radius: 30px;
}

.git {
    display: block;
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 200px;
    justify-content: center;
    border-radius: 30px;
}

footer {
    background-color: #49156e;
    border-radius: 50px;
}
